/* AUTO GENERATED */
:root {
    --sprite-interaction__icon-interactive: url('/Assets/Textures/UI/Interaction/icon-interactive.png');
    --sprite-interaction__icon-mouse-left: url('/Assets/Textures/UI/Interaction/icon-mouse-left.png');
    --sprite-interaction__icon-mouse-right: url('/Assets/Textures/UI/Interaction/icon-mouse-right.png');
}

.sprite-interaction__icon-interactive {
    background-image: var(--sprite-interaction__icon-interactive);
    width: 24.5px;
    height: 24px;
}

.sprite-interaction__icon-mouse-left {
    background-image: var(--sprite-interaction__icon-mouse-left);
    width: 24.5px;
    height: 24.5px;
}

.sprite-interaction__icon-mouse-right {
    background-image: var(--sprite-interaction__icon-mouse-right);
    width: 32.5px;
    height: 32px;
}

