:root {
    --dcl-color-orange: rgb(255, 116, 57);
    --dcl-color-orange-transparent: rgba(255, 116, 57, 0);
    --dcl-color-snow: rgb(252, 252, 252);
    --dcl-color-ruby: rgb(255, 45, 85);
    --dcl-color-white_70: rgba(255, 255, 255, 0.7);
    --dcl-color-silver: #A09BA8;
    
    --dcl-cursor-rotate: url("project://database/Assets/UI/Sprites/Configurator/cursor_rotate.png?fileID=2800000&guid=797e032bcecb14d79865077f5670d471&type=3#cursor_rotate");
    --dcl-cursor-interactive: url("project://database/Assets/UI/Sprites/Configurator/cursor_interactive.png?fileID=2800000&guid=e16855ab158be494b97fd679ca9c6968&type=3#cursor_interactive");
    
    -unity-font-definition: url("project://database/Assets/UI/Font/Inter_18pt-Regular%20SDF.asset?fileID=11400000&guid=ac33835a7d3724b99af9e75a108d285d&type=2#Inter_18pt-Regular SDF");
}

.unity-label {
    margin: 0;
    padding: 0;
}

.unity-button {
    border-width: initial;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.dcl-clickable {
    transition-property: scale;
    transition-duration: 0.2s;
    cursor: var(--dcl-cursor-interactive);
}

.dcl-clickable:hover {
    scale: 0.95;
}

.dcl-clickable:active {
    scale: 0.9;
}

.preview-button {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: var(--dcl-color-orange-transparent);
    border-right-color: var(--dcl-color-orange-transparent);
    border-top-color: var(--dcl-color-orange-transparent);
    border-bottom-color: var(--dcl-color-orange-transparent);
}

.preview-button--selected {
    border-left-color: var(--dcl-color-orange);
    border-right-color: var(--dcl-color-orange);
    border-top-color: var(--dcl-color-orange);
    border-bottom-color: var(--dcl-color-orange);
}

.preview-button--selected > .preview-button__container {
    border-left-color: rgb(205, 198, 211);
    border-right-color: rgb(205, 198, 211);
    border-top-color: rgb(205, 198, 211);
    border-bottom-color: rgb(205, 198, 211);
}

.preview-button__container {
    flex-grow: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgba(205, 198, 211, 0);
    border-right-color: rgba(205, 198, 211, 0);
    border-top-color: rgba(205, 198, 211, 0);
    border-bottom-color: rgba(205, 198, 211, 0);
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    -unity-background-scale-mode: scale-and-crop;
    background-image: url("project://database/Assets/UI/Sprites/Configurator/item_background.png?fileID=2800000&guid=6e20d7fa328d04f1c9e01dc04b7b1768&type=3#item_background");
}

.preview-button__thumbnail {
    flex-grow: 1;
    -unity-background-scale-mode: scale-and-crop;
}

.dcl-button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    opacity: 1;
    transition-property: scale, translate, opacity;
}

.dcl-button:disabled {
    opacity: 0.35;
}

.dcl-button--hidden-down {
    translate: 0 50%;
    opacity: 0;
}

.dcl-button--primary {
    background-color: var(--dcl-color-ruby);
}

.dcl-button--secondary {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: var(--dcl-color-white_70);
    border-width: 2px;
}

.dcl-button--icon-forward {
    flex-direction: row;
}

.dcl-button--icon-back {
    flex-direction: row-reverse;
}

.dcl-button--icon-check {
    flex-direction: row-reverse;
}

.dcl-button__label {
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}

.dcl-button__icon {
    display: none;
    width: 20px;
    height: 20px;
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_arrow_right.png?fileID=2800000&guid=53552c8856695427aa658d914163aa30&type=3#icon_arrow_right");
}

.dcl-button--icon-forward > .dcl-button__icon {
    display: flex;
    margin-left: 12px;
}

.dcl-button--icon-back > .dcl-button__icon {
    display: flex;
    margin-right: 12px;
    margin-left: 0;
    rotate: 180deg;
}

.dcl-button--icon-check > .dcl-button__icon {
    display: flex;
    margin-right: 12px;
    margin-left: 0;
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_check.png?fileID=2800000&guid=c36facd26e80f4b8ea8e9a0f4dc6df4b&type=3#icon_check");
}

.wearable-category {
    width: 138px;
    height: 80px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: var(--dcl-color-orange-transparent);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 14px;
    margin-bottom: 4px;
}

.wearable-category--selected {
    background-color: var(--dcl-color-orange);
}

.wearable-category__icon {
    width: 38px;
    height: 38px;
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_category_eyebrows.png?fileID=2800000&guid=cee9a85e5521f4115a3369097a6a9234&type=3#icon_category_eyebrows");
}

.wearable-category__icon--eyewear {
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_category_eyewear.png?fileID=2800000&guid=73f09b4dd72404b509177cc40e4b9d53&type=3#icon_category_eyewear");
}

.wearable-category__icon--upper_body {
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_category_upper_body.png?fileID=2800000&guid=2cae36ab70acc41c19b4f3732ec6d31c&type=3#icon_category_upper_body");
}

.wearable-category__icon--facial_hair {
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_category_facialhair.png?fileID=2800000&guid=20f85d5ea55bc4126b8884801721bc5c&type=3#icon_category_facialhair");
}

.wearable-category__icon--lower_body {
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_category_lower_body.png?fileID=2800000&guid=33344ee476bf646dc96498c7d90573b8&type=3#icon_category_lower_body");
}

.wearable-category__icon--feet {
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_category_feet.png?fileID=2800000&guid=a6a84e68b52774c64aa5b61127db772f&type=3#icon_category_feet");
}

.wearable-category__icon--hands_wear {
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_category_hands_wear.png?fileID=2800000&guid=6bbb9d9f98c8e417092521c56ee4bcd0&type=3#icon_category_hands_wear");
}

.wearable-category__icon--earring {
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_category_earring.png?fileID=2800000&guid=c27c8e683d22748e6a73e327d5e3aeee&type=3#icon_category_earring");
}

.wearable-category__icon--hair {
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_category_hair.png?fileID=2800000&guid=9d0f857ae6b904a70bdbd9a3b5ef0dc9&type=3#icon_category_hair");
}

.wearable-category__icon--eyebrows {
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_category_eyebrows.png?fileID=2800000&guid=cee9a85e5521f4115a3369097a6a9234&type=3#icon_category_eyebrows");
}

.wearable-category__icon--eyes {
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_category_eyes.png?fileID=2800000&guid=f1f2c98fdeee04c9e9f16a5d277e4f7d&type=3#icon_category_eyes");
}

.wearable-category__icon--mouth {
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_category_mouth.png?fileID=2800000&guid=14c6f2869abdb43ddbd3607466cb9450&type=3#icon_category_mouth");
}

.wearable-category__thumbnail {
    height: 80px;
    width: 80px;
}

.wearable-category__label {
    display: none;
    color: white;
    margin-right: 8px;
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.wearable-category-picker {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.dcl-dropdown {
    height: 40px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
    padding-left: 12px;
}

.dcl-dropdown__arrow {
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_arrow_right.png?fileID=2800000&guid=53552c8856695427aa658d914163aa30&type=3#icon_arrow_right");
    width: 15px;
    height: 15px;
    -unity-background-image-tint-color: rgb(0, 0, 0);
    rotate: 90deg;
}

.dcl-dropdown__icon {
    width: 26px;
    height: 26px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    -unity-background-scale-mode: scale-to-fit;
    margin-right: 4px;
}

.dcl-dropdown__label {
    margin-left: 0;
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
}

.dcl-dropdown__container {
    position: absolute;
    right: 100%;
    top: 100%;
}

#dcl-dropdown-popup-root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: flex-start;
}

.dcl-dropdown-popup {
    padding-top: 22px;
    padding-right: 32px;
    padding-bottom: 22px;
    padding-left: 32px;
    background-color: rgb(255, 255, 255);
    margin-top: 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    transition-duration: 0.3s;
}

.dcl-dropdown-popup__title {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.dcl-dropdown-popup__close {
    display: none;
    position: absolute;
    right: 16px;
    top: 16px;
    background-image: url("project://database/Assets/UI/Sprites/Configurator/icon_close.png?fileID=2800000&guid=d760ea74e977e477ba51d3f30636d776&type=3#icon_close");
    width: 40px;
    height: 40px;
}


.dcl-text-field {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.dcl-text-field > .unity-text-field__label {
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 16px;
}

.dcl-text-field > .unity-text-field__input {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: rgb(255, 255, 255);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    color: black;
    font-size: 16px;
}

.dcl-text-field > .unity-base-text-field__input--placeholder {
    color: var(--dcl-color-silver);
}

.dcl-text-field:focus:enabled > .unity-text-field__label {
    color: white;
}

.dcl-toggle {
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.dcl-toggle > .unity-toggle__input {
    width: 24px;
    height: 24px;
    flex-grow: 0;
    min-width: 24px;
    min-height: 24px;
    flex-basis: auto;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--dcl-color-white_70);
}

.dcl-toggle > .unity-toggle__input:checked {
    border-width: 0;
}

.dcl-toggle:focus:enabled > .unity-toggle__label {
    color: white;
}

.dcl-toggle > .unity-toggle__label {
    flex-basis: 1px;
    flex-grow: 1;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal;
}

.dcl-toggle > .unity-toggle__input > .unity-toggle__checkmark {
    background-color: transparent;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.dcl-toggle > .unity-toggle__input:checked > .unity-toggle__checkmark {
    background-color: var(--dcl-color-ruby);
    -unity-background-image-tint-color: rgb(255, 255, 255);
}